.slider {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;
}

.slider__title {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 20px;
}

.slider__current-value {
  display: flex;
  font-weight: bold;
  border: 1px solid white;
  padding: 4px 10px;
  width: 120px;
  margin-bottom: 20px;
  background-color: transparent;
  color: white;
  font-family: inherit;
  justify-content: flex-start;
  box-sizing: border-box;
  align-items: center;
}

.slider__current-value input {
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: white;
  font-family: inherit;
  width: 100%;
  font-size: inherit;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.slider__wrapper {
  margin-right: 20px;
  margin-left: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.slider__wrapper div {
  flex-basis: 100%;
}
